<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Seymour+One&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styling.css">
    <script src="app.js" defer></script>
    <title>Document</title>
</head>
<body>
    <header id="main-header">
        <h1>WEATHER DETECTION</h1>
        <p>Check before you take it out to the driveway</p>
    </header>
    <main>
        <section id="takeinput">
            <!-- <label for="search" id="inputlabel">Enter your city name</label> -->
            <h2 id="inputlabel">Enter your city's name</h2>
            <section id="search">
                <input type="text" name="search" id="inputfield" placeholder="e.g : California">
                <button id="searchbutton">Search</button>
            </section>
        </section>
    </main>
</body>
</html>
